/*Text*/

h1 {
    font-family: Dancing Script, serif;
    font-size: 60px;
    color: #d8baba;
    text-align: center;
}

h3 {
    font-family: Dancing Script, serif;
    font-size: 35px;
    text-align: center;
    color: #d8baba;
}

h5 {
    font-family: Dancing Script, serif;
    font-size: 35px;
    color: #d8baba;
}

p {
    text-decoration: none;
    list-style-type: none;
    font-family: Arial;
    line-height: 1.5;
    font-size: 35px;
    color: #d8baba;
}

aside ul a {
    text-decoration: none;
    list-style-type: none;
    font-family:Arial;
    line-height: 1.5;
    font-size: 35px;
    color: #d8baba;
}
p1{
    font-size: 50px;
    color: #d8baba;
    font-family:Arial;
}
p3{
    font-size: 25px;
    color: #d8baba;
    font-family:Arial;
}
h4 {
    font-family:Arial;
    font-size: 17px;
    color: #d8baba;
    font-weight: normal;
}
/*header*/

header {
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/*footer*/

footer{
    display: block;
    position: absolute;
    height: 6em;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid #ff8c00;
    align-items: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #ff8c00;
    border-top: 0;
}

/* Style for list items */
footer li {
    float: left;
    border-right: 1px solid #ff8c00;
}

/* Style for anchor (link) elements */
footer li a {
    display: block;
    color: #d8baba;
    text-align: center;
    padding: 2em 2.7em;
    font-family: Arial;
    text-decoration: none;
}

/* Hover effect for list items */
footer li:hover {
    transition: all 0.3s;
    background-color: #ff8c00;
}

/* Hover effect for anchor elements */
footer li a:hover {
    color: black;
}

/*Colours*/

header {background-color:#1a1a1a;}
footer {background-color: #1a1a1a;}
nav ul {background-color: #1a1a1a;}
.container {background-color: #474646;}
body{background-color: #474646;}

/* Nav Bar*/

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #ff8c00;
    border-top: 2px solid #ff8c00;
    justify-content: center;
}
  
nav li {
    justify-content: center;
    border-right: 1px solid #ff8c00;
    border-left: 2px solid #ff8c00;
}

nav li a {
    display: block;
    color: #d8baba;
    text-align: center;
    padding: 2em 2.7em;
    font-family:Arial;
    text-decoration: none;
}

nav li:hover {
    transition: all 0.3s;
    background-color:#ff8c00;
}

nav li a:hover{
    color: black;
}

@media (max-width: 1500px) {
   nav ul a{
    padding: 1em 1.4em;
  }
}

@media (max-width: 600px) {
    nav ul a{
      padding: 0.5em 0.95em;
    }
}

/*main*/

html{
    position:relative;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding:0;
    min-height: 100%
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start; /* Align items to the start of the cross axis */
    justify-content: space-around; /* Spread items evenly */
}
main {
    flex: 1;
}

main p {
    text-align: center;
    font-size: 22px;
    color:#d8baba;

}

aside {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#choiceList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#choiceList li {
  display: inline; /* Ensures the list items are displayed in a row */
  margin: 0 5px; /* Adjust spacing between buttons */
}
.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 10px;
    text-decoration: none;
    color:#d8baba;
    background-color: #1a1a1a;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.visable_box {
    background-color: #1a1a1a;
    margin: 25px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 25px rgb(24, 17, 17);
}

/*
@media (max-width: 1500px) {
  .container {
    flex-direction: column;
    align-items: center;
    min-height: 125em;
  }
}

@media (max-width: 580px) {
    .container {
      flex-direction: column;
      align-items: center;
      min-height: 135em;
    }
}

/*images*/

.foodimg{
    height: 350px;
    width: 450px;
    border-radius: 25px;
}

@media (max-width: 700px) {
    .foodimg{
        height: 200px;
        width: 300px;
    }
}


.Images {
    border-radius: 25px;
    box-shadow: 5px 5px 50px rgb(24, 17, 17);
    Width:70%;
    Height:auto;
    animation-name: ogfade;
    animation-duration: 0.5s;
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Centers the image horizontally within the flex container */
}
.Images_other{
    border-radius: 25px;
    box-shadow: 5px 5px 50px rgb(24, 17, 17);
    Width:50%;
    Height:auto;
    animation-name: ogfade;
    animation-duration: 0.5s;
}



.Images_2 {
    border-radius: 25px;
    box-shadow: 5px 5px 50px rgb(24, 17, 17);
    Width:70%;
    Height:auto;
    animation-name: ogfade;
    animation-duration: 0.5s;
}



.Images_3 {
    border-radius: 25px;
    box-shadow: 5px 5px 50px rgb(24, 17, 17);
    Width: 70%;
    Height: auto;
    animation-name: ogfade;
    animation-duration: 0.5s;
}


