<!DOCTYPE html>
<html lang="en">

<!--account page for signing in and out-->

<!--Code for creating modals, connecting and using firebase and outputting,
    I'd never used firebase,so I used:https://firebase.google.com/docs/web/setup?authuser=0&hl=en & https://www.youtube.com/watch?v=4d-gIPGzmK4&list=PL4cUxeGkcC9itfjle0ji1xOZ2cjRGY_WB&ab_channel=TheNetNinja
    The Tutorial was outdated, but by using the firebase docs with this I wrote this code
    More on this in the report
 -->

<head>

  <title>Seasoned Selections</title>

    <meta name="Foods" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}"/>

    <!--gets style sheet for materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--gets style sheet from google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

</head>


<body>


    <header class = "header">
      <h10>Account</h10>
    </header>

    <!--nav bar with modal-triggers-->
    <nav1>
        <div>
            <ul>
                <li><a href="/index/">Back Home</a></li>
                <li class="logged-in">
                  <a href="#" class="modal-trigger" data-target="modal-account">Account</a>
                </li>
                <li class="logged-in">
                  <a href="#" id="logout">Logout</a>
                </li>
                <li class="logged-out">
                  <a href="#" class="modal-trigger" data-target="modal-login">Login</a>
                </li>
                <li class="logged-out">
                  <a href="#" class="modal-trigger" data-target="modal-signup">Sign up</a>
                </li>
            </ul>
        </div>
    </nav1>


    <!-- modal displayed as on overlay contains form for users to input account details-->
    <div id="modal-signup" class="modal">
      <div class="modal-content">
        <h3>Sign up</h3>
        <form id="signup-form">
            <div class="input-field">
              <input type="email" id="signup-email" required />
                <label for="signup-email">Email address</label>
            </div>
            <div class="input-field">
                <input type="password" id="signup-password" required />
                <label for="signup-password">Password</label>
            </div>
          <button>Sign up</button>
        </form>
      </div>
    </div>

    <!-- modal displayed as on overlay contains form for users to input account details-->
    <div id="modal-login" class="modal">
      <div class="modal-content">
        <h3>Login</h3>
        <form id="login-form">
            <div class="input-field">
                <input type="email" id="login-email" required />
                <label for="login-email">Email address</label>
            </div>
            <div class="input-field">
                <input type="password" id="login-password" required />
                <label for="login-password">Password</label>
            </div>
          <button>Login</button>
        </form>
      </div>
    </div>

    <!-- modal displayed as on overlay contains account details of current user-->
    <div id="modal-account" class="modal">
      <div class="modal-content center-align">
        <h3>Account details</h3>
        <div class="account-details"></div>
      </div>
    </div>

    <!-- container containing images to fill page-->
    <div class= "container">

        <aside>
            <div class="image_container">
                <img class="Images" src="">
            </div>
        </aside>

        <aside>
            <div class="image_container">
                <img class="Images" src="">
            </div>
        </aside>
    </div>
</body>
</html>