<!DOCTYPE html>
<html>


    <head>
        <title>YCOA Ald'ruhn's Echo</title>

        <meta name="index_page" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
        <!--gets style sheet from google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    </head>


    <body>

        <header class = "header">
            <h1>Ald'ruhn's Echo : Adventure Begins</h1>
        </header>

        <nav class = "nav">
            <ul>
                <li><a href="/index/game">Play New Game</a></li>
                <li><a href="/index/game_saved">Continue Previous Game</a></li>
                <li><a href="/index/account">Account</a></li>
            </ul>
        </nav>

        <!--flex container-->
        <div class = container>
            <div class = visable_box>
                <main>
                    <h3>Game description</h3>

                    <p>The game is set in a medieval fantasy world where players take on the role of a survivor.
                        Their main goal is to survive and progress amidst the chaos and challenges of this new world.
                        Along the way, they will encounter various characters, make decisions, and face consequences
                        that shape the outcome of their journey.
                    </p>
                </main>
            </div>

            <aside>
                <div class="image_container">
                    <img class="Images" src="{{ url_for('static', filename='img/background4.jpg') }}">
                </div>
            </aside>

            <footer class="footer">
                <h4 class="left-align"></h4>
                <h4 class="right-align"></h4>
            </footer>
        </div>
    </body>

<script type="module">

            //imports the required functions from firebase
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
            import{ getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js';

            //firebase config for my account
            const firebaseConfig = {
                apiKey: "AIzaSyB7ZR3yQF8SzBv5jWp47FgO6TweEH7hUh4",
                authDomain: "mywebsitedatabase-2ff3e.firebaseapp.com",
                projectId: "mywebsitedatabase-2ff3e",
                storageBucket: "mywebsitedatabase-2ff3e.appspot.com",
                messagingSenderId: "1000470139412",
                appId: "1:1000470139412:web:af3ee0e35596f81c628d01",
                measurementId: "G-2Y86DCEM5R"
            };

            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const auth = getAuth(app);

            //When page is loaded
            onAuthStateChanged(auth, user =>{
                //if a user is logged in display user in console
                if(user) {
                    console.log('user logged in: ', user)
                } else {
                    //display no user in console
                    console.log('user logged out')
                }
            })
        </script>

</html>
